// 标题颜色
$title-color: #333333;
// 普通文本颜色
$text-color: #666666;
// 普通文本颜色
$span-color: #999999;
// 边框颜色
$border-color: #ebedf0;
// active颜色
$active-color: #f2f3f5;
// 背景颜色
$background-color: #f7f8fa;
// 阴影颜色
$box-shadow-color: #cccccc;
